<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <h1 class="display-1 text-center">TODO APP</h1>
      <!-- Form to get a new task -->
      <form action="/" method="POST">
        <input class="form-control my-2" type="text" name="desc" placeholder="Description" required />
        <div class="container">
          <div class="row">
            <select class="form-control col mr-2" name="category" required>
              <option value="" disabled selected>Choose a category</option>
              <option value="Work">Work</option>
              <option value="Home">Home</option>
              <option value="School">School</option>
              <option value="Cleaning">Cleaning</option>
              <option value="Other">Other</option>
            </select>
            <input class="form-control col ml-2" type="date" name="date" id="" />
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success my-2 btn-lg" type="submit">Submit</button>
        </div>
      </form>
      <a class="btn btn-info" href="/completed-list">View completed tasks</a>
      <h1 class="text-center display-4">Tasks to be done</h1>
      <table class="table text-center table-striped my-5">
        <tr>
          <th style="width:  45% ;word-break:break-all;">
            Task
          </th>
          <th>
            Category
          </th>
          <th>
            Due date
          </th>
          <th colspan="2">Actions</th>
        </tr>
        <!-- Iterating over todo list tasks and printing them -->
        <%for(let i of details){%>
        <tr>
          <td style="width:  45% ;word-break:break-all;"><%=i.desc%></td>
          <td>
            <span id="category" class="">
              <%=i.category%>
            </span>
          </td>

          <td><%=i.date%></td>
          <td style="width:  8.33%"><a class="btn btn-danger" href="/delete-todo/?id=<%=i.id%>">Delete</a></td>
          <td style="width:  8.33%"><a class="btn btn-warning" href="/complete-todo/?id=<%=i.id%>">Mark as completed</a></td>
        </tr>
        <%}%>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
